:root {
    --my-black: #282828;
    --my-blue: #076678;
    --my-light-blue: #458588;
    --my-aqua: #689d6a;
    --my-green: #79740e;
    --my-light-green: #98971a;
    --my-dark-gray: #3c3836;
    --my-light-gray: #7c6f64;
    --my-lighter-gray: #928374;
    --my-white: #fbf1c7;
    --my-light-white: #f9f5d7;
    --my-red: #9d0006;
    --my-magenta: #8f3f71;
    --my-violet: #b16286;
    --my-orange: #af3a03;
    --my-light-orange: #d65d0e;
    --my-yellow: #b57614;
    --my-light-yellow: #d79921;
}

::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--my-yellow);
    color: var(--my-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    caret-color: transparent;
}
